<% include partials/header %>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 card-color space-below">
				<p>
					Quisque rhoncus, turpis at gravida auctor, libero felis feugiat libero, et placerat erat urna non lectus. Integer a arcu id sapien tempor imperdiet. Donec sed neque tellus. Nulla elementum nibh eget aliquet mollis. Curabitur sed tristique turpis. Nulla facilisi. Ut et nulla convallis, laoreet orci ac, tempor lectus. Nullam lacinia.
				</p>
			</div>
		</div>
	</div>
<div class="container">
<div class="row">
  <div class="col-sm-6">
    <div class="card border-white">
      <div class="card-body card-color">
        <h5 class="card-title">Kunal Kashyap</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-dark btn-lg" href="#" role="button">Github profile</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-white">
      <div class="card-body card-color">
        <h5 class="card-title">Shivam Kansal</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-dark btn-lg" href="#" role="button">Github Profile</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card border-white">
      <div class="card-body card-color">
        <h5 class="card-title">Shreyans Jain</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-dark btn-lg" href="#" role="button">Github profile</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-white">
      <div class="card-body card-color">
        <h5 class="card-title">Vatsal Agarwal</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-dark btn-lg" href="#" role="button">Github Profile</a>
      </div>
    </div>
  </div>
</div>

		<div class="container">
			
		</div>	
</div>
	<%  include partials/footer %>