<% include partials/header %>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 card-color space-below">
				<p>
					Quisque rhoncus, turpis at gravida auctor, libero felis feugiat libero, et placerat erat urna non lectus. Integer a arcu id sapien tempor imperdiet. Donec sed neque tellus. Nulla elementum nibh eget aliquet mollis. Curabitur sed tristique turpis. Nulla facilisi. Ut et nulla convallis, laoreet orci ac, tempor lectus. Nullam lacinia.
				</p>
			</div>
		</div>
	</div>
<div class="container">
<div class="row">
  <div class="col-sm-5 box">
    <div class="card border-white">
      <div class="card-body card-color innerbox">
        <h5 class="tophead card-title">Shreyans Jain</h5>
        <p class="textcs card-text">Titan.</p>
        <a class="buttoncs btn btn-dark btn-lg" href="#" role="button">Github profile</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-5 box">
    <div class="card border-white">
      <div class="card-body card-color innerbox">
        <h5 class="tophead card-title">Kunal Kashyap</h5>
        <p class="textcs card-text">Enceladus.</p>
        <a class="buttoncs btn btn-dark btn-lg" href="#" role="button">Github Profile</a>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-5 box">
    <div class="card border-white">
      <div class="card-body card-color innerbox">
        <h5 class="tophead card-title">Shivam Kansal</h5>
        <p class="textcs card-text">Dione.</p>
        <a class="buttoncs btn btn-dark btn-lg" href="#" role="button">Github profile</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-5 box">
    <div class="card border-white">
      <div class="card-body card-color innerbox">
        <h5 class="tophead card-title">Vatsal Agarwal</h5>
        <p class="textcs card-text">Hyperion.</p>
        <a class="buttoncs btn btn-dark btn-lg" href="#" role="button">Github Profile</a>
      </div>
    </div>
  </div>
</div>

		<div class="container">
			
		</div>	
</div>
	<%  include partials/footer %>