<!--footer-->

	<div class="footer">
		<p>© All rights reserved.<br>
All actions are under observation.<br>
Please use the site in a responsible and productive manner.
</p>
	</div>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</html>