#navbar-logo {
	height: 40px;
}

#myJumbo {
	padding: 2rem 2rem;
	margin: 0px;
}

#jumboRow {
	background-color: rgb(232,236,239);
	margin-bottom: 1em;
}

.jumboLogo {
	margin-bottom: 0px;
	padding: 2rem 2rem;
	border-left: 1px solid white;
}


#myNavBar {
	padding: 0px 0px;
}

#dtulogo {
	height: 90%;
}

.postDivs {
	background-color: rgb(248,249,250);
	padding: 0.5rem;
	border: 2px solid white;
}

.dateDivs {
	text-align: center;
}

.dateOnPosts {
	text-align: center;
	margin: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.subject {
	text-align: center;
	margin: 0px;
	font-size: 20px;
}

.personInfo {
	text-align: center;
	margin: 0px;
	font-size: 20px;
}

th {
	text-align: center;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

#subjectTH {
	background-color: rgb(232,236,239);
}

#nameTH {
	background-color: rgb(232,236,239);
}

td {
	text-align: center;
	border: 2px solid white;
}

table {
	width: 100%;
}

.card {
	margin: auto;
}

.card-img-top {
	margin: auto;
}

.dateTD {
	padding: 1.0rem;
	vertical-align: middle;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
}

.subjectTD {
	padding: 1.0rem;
	text-align: left;
	background-color: rgb(232,236,239);
}

.nameTD {
	padding: 1.0rem;
	background-color: rgb(232,236,239);

}

.names {
	margin: 0px;
}

.tableContainer {
	padding: 0px;
	margin-bottom: 1em;
}

#counter {
	padding: 0.5em;
	vertical-align: middle;
	text-align: center;
    align-items: center; 
    justify-content: center;
}

#user-count-logo {
	font-size: 2em;
	margin: 0px;
}

#user-count-number {
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 3em;
	margin-bottom: 0px;
}

.footer {
	margin-top: 30px;
	background-color: rgb(232,236,239);
	padding: 2em;
	text-align: center;
}

.praiseTD {
	padding: 1.0rem;
    vertical-align: middle;
	text-align: center;
    align-items: center; 
    justify-content: center;
    font-size: 24px;
}

.praiseIcon {
	margin: 0px;
}

.praiseNumber {
	margin: 0px;
}

.card-color{
	background-color: rgb(232,236,239);
}

.space-below{
	padding: 1em;
	margin-bottom: 1em;
}
