<!--footer-->

	<div class="footer">
		<p>Quisque rhoncus, turpis at gravida auctor, libero felis feugiat libero, et placerat erat urna non lectus. Integer a arcu id sapien tempor imperdiet. Donec sed neque tellus. Nulla elementum nibh eget aliquet mollis. Curabitur sed tristique turpis. Nulla facilisi. Ut et nulla convallis, laoreet orci ac, tempor lectus. Nullam lacinia.</p>
	</div>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</html>