<% include partials/header %>
	<div class="container instructions">
		<ul>
			<li>To bold text enclose text within &ltstrong&gt <strong>...</strong> &lt\strong&gt tag.</li>
			<li>To add hyperlink enclose text within &lta&gt <strong>...</strong> &lt/a&gt tag with href attribute set to desired link.</li>
		</ul>
	</div>

	<div class="container getpost">
	<form>
		<div class="form-group content-box">
    		<label for="exampleFormControlTextarea1"><strong>Enter content here:</strong></label>
    		<textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
  		</div>
  		<div class = "button-div">
  		<button type="button" class="btn btn-dark">DONE</button>
  		</div>
  	</form>
	</div>


		<%  include partials/footer %>