<% include partials/header %>
	<div class="container tableContainer">
		<table>
			<thead class="container">
				<tr class="row">
					<th class="col-lg-1"></th>
					<th class="col-lg-7" id="subjectTH">Subject</th>
					<th class="col-lg-3" id="nameTH"></th>
					<th class="col-lg-1"></th>
				</tr>
			</thead>

			<tbody>
				<tr class="row">
					<td class="col-lg-1 dateTD">15 Dec</td>
					<td class="col-lg-7 subjectTD">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo at lectus in dapibus. Suspendisse potenti. Nulla in blandit nisi. Maecenas fermentum eros at lectus elementum, vitae tristique erat efficitur.</td>
					<td class="col-lg-3 nameTD">
						<div class="card" style="width: 3.5rem;">
  							<img src="https://www.ienglishstatus.com/wp-content/uploads/2018/04/Anonymous-Whatsapp-profile-picture.jpg" class="card-img-top" alt="...">
  						</div>
  						<p class="names">Kanishk Lal</p>
					</td>
					<td class="col-lg-1 praiseTD">
						<p class="praiseIcon"><i class="fas fa-award"></i></p>
						<p class="praiseNumber">97</p>
					</td>
				</tr>
				<tr class="row">
					<td class="col-lg-1 dateTD">15 Dec</td>
					<td class="col-lg-7 subjectTD">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et justo viverra, mollis leo non, molestie mi. Fusce est augue, dictum eu malesuada et, mollis id sem. Nullam et ante et dui suscipit lobortis eu eget ipsum. Maecenas vel feugiat.</td>
					<td class="col-lg-3 nameTD">
						<div class="card" style="width: 3.5rem;">
  							<img src="https://pbs.twimg.com/media/Cb4d4RbUkAACkr0.jpg" class="card-img-top" alt="...">
  						</div>
  						<p class="names">Shreyans Jain</p>
					</td>
					<td class="col-lg-1 praiseTD">
						<p class="praiseIcon"><i class="fas fa-award"></i></p>
						<p class="praiseNumber">135</p>	
					</td>
				</tr>
				<tr class="row">
					<td class="col-lg-1 dateTD">11 Dec</td>
					<td class="col-lg-7 subjectTD">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut risus ac.</td>
					<td class="col-lg-3 nameTD">
						<div class="card" style="width: 3.5rem;">
  							<img src="http://profilepicturesdp.com/wp-content/uploads/2018/07/tumblr-anime-profile-pictures-white-and-black-1.jpg" class="card-img-top" alt="...">
  						</div>
  						<p class="names">Shivam Kansal</p>
					</td>
					<td class="col-lg-1 praiseTD">
						<p class="praiseIcon"><i class="fas fa-award"></i></p>
						<p class="praiseNumber">11</p>
					</td>
				</tr>
				<tr class="row">
					<td class="col-lg-1 dateTD">28 Nov</td>
					<td class="col-lg-7 subjectTD">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel erat eu eros aliquam pulvinar. Cras aliquam justo ac eros egestas, nec mollis libero sollicitudin. Curabitur eu rutrum lorem. Duis quis odio eget purus mollis viverra id in arcu. Cras sed semper dui. Morbi quis tincidunt ex. Sed ut mauris.</td>
					<td class="col-lg-3 nameTD">
						<div class="card" style="width: 3.5rem;">
  							<img src="https://www.game-debate.com/images/members/805987/avatar/original/checkpcgames.jpg" class="card-img-top" alt="...">
  						</div>
  						<p class="names">Megan Fox</p>
					</td>
					<td class="col-lg-1 praiseTD">
						<p class="praiseIcon"><i class="fas fa-award"></i></p>
						<p class="praiseNumber">225</p>
					</td>
				</tr>
			</tbody>

		</table>

		<div class="container">
			
		</div>


	</div>
<%  include partials/footer %>