<%  include partials/header %>

<div class="container">
	<div class="container-fluid"></div>
		<div class="row content">
			<div class="col-sm-3">
				<h4>SHIVAM's Profile</h4>
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAB8HfYuYTHT_BcYxGatIuiZ2GwkujaXBRY_w9srYIshZPYS4U" alt="shivkansal" class="card-img-top">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="www.github.com">Github Profile</a></li>
					<li>Computer Engineering</li><br>
					<li>2nd Year</li>
				</ul>
				<br>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search Blog..">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			</div>
	
			<div class="col-sm-9">
				<h2>LinearRegression</h2>
				<h5><span class="glyphicon glyphicon-time"></span> Machine Learning</h5>
				<h5><span class="label label-danger"></span> <span class="label label-primary">Dated:- Jan 8, 2019.</span></h5><br>
				<p>ML is my passion. www.google.com Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<br><br>
				
				
				<hr>
				<h2>YelpCAMP</h2>
				<h5><span class="glyphicon glyphicon-time"></span> Web-development</h5>
				<h5><span class="label label-success">Dated:- Jan 8, 2019.</span></h5><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<hr>
				<a class="btn btn-dark btn-lg" id="addp" href="#" role="button">Add Post</a>
				<br><br>
				<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%  include partials/footer %>
